/* Глобальные стили */
body {
  width: 100%;
  background: #ffffff;
}
/* Стили для страницы index.html */
.header {
  display: flex;
  width: 100%;
}
.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: center;
}
.header__menu-mobile {
  display: none;
}
.sedona-city-block {
  height: 389px;
  mix-blend-mode: normal;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: -1;
}
.sedona-city-block__background {
  display: flex;
  position: absolute;
  width: 100%;
  height: 389px;
  justify-content: center;
}
.sedona-city-block__welcome {
  display: flex;
}
.sedona-city-block__gorgeous {
  display: flex;
  height: 17.7195797px;
  width: 106.90551758px;
  left: 106.57922363px;
  top: 402.99871826px;
  border-radius: 0px;
}
.sedona-city-block__text {
  z-index: 2;
}
.sedona-city-block__grand-canyone {
  z-index: 2;
}
.sedona-city-block-discribes-city {
  background: #E7E5E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sedona-city-block-2__description-header {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}
.sedona-city-block-2__description-text {
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}
.city-info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #81B3D2;
}
.city-info__block {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 39px;
  padding-top: 55px;
}
.city-info__block-city {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  justify-content: center;
}
@media (min-width: 768px) {
  .city-info__city-background-desktop {
    width: 100%;
    display: none;
    justify-content: center;
  }
}
.city-info__block-number-1 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  justify-content: center;
}
.city-info__block-tourist {
  font-family: PT Sans;
  font-style: normal;
  font-size: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  justify-content: center;
  width: 295px;
}
.city-info-discribes-city {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.city-2__city-background {
  width: 100%;
  display: flex;
  justify-content: center;
}
.city-2__discribes {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.city-2__advertising {
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-2__advertising_icon-house {
  display: flex;
  align-self: flex-start;
}
.city-2__block {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.city-2__house-text {
  display: flex;
}
.city-2__text-element {
  display: flex;
  margin-top: -24px;
}
.city-2__icon-gift {
  display: flex;
  align-self: flex-start;
}
.city-2__icon-burger {
  display: flex;
  align-self: flex-start;
}
.block-info {
  width: 100%;
}
.block-info__block-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 117px;
  width: 100%;
  padding-top: 39px;
  padding-bottom: 39px;
  background-color: #81B3D2;
  align-items: center;
}
.block-info__text {
  height: 117px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  display: flex;
  height: 191px;
  background-color: #81B3D2;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.block-info__2 {
  height: 117px;
  font-family: PT Sans;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  justify-content: center;
  width: 100%;
}
.block-info__go {
  width: 289px;
  height: 117px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.block-info__list-discribes {
  display: flex;
  flex-direction: column;
}
.block-info__items {
  width: 100%;
  height: 503px;
  background: #EEEEEE;
  mix-blend-mode: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block-info__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 0px;
}
.block-info__item-inside {
  display: block;
  border-bottom: 1px solid #D6D6D6;
  padding-left: 26px;
  padding-right: 26px;
}
.block-info__item-header {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  font-size: 21px;
}
.block-info__number {
  text-align: center;
}
.block-info__describe {
  font-family: 'PT Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
}
.block-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.block-form__choosing-travel-wrapper {
  margin-bottom: 49px;
  margin-top: 33px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block-form__choosing-travel {
  height: 210px;
  width: 261px;
  margin-left: auto;
  margin-right: auto;
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
}
.block-form__header {
  display: flex;
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  justify-content: center;
}
.block-form__travel-date {
  width: 261px;
  height: 120px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
}
.block-form__hostel {
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  width: 280px;
  height: 58px;
  background: #81B3D2;
  mix-blend-mode: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
.block-form__form {
  display: flex;
}
.block-form__map {
  display: flex;
  width: 100%;
}
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 233px;
}
.footer__central-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 166px;
  height: 181px;
}
.footer__link {
  height: 26px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  margin-top: 38.5px;
}
.footer__social-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33.5px;
  width: 151px;
  height: 48px;
}
.footer__tw-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #81B3D2;
  height: 48px;
  width: 46px;
  margin-right: 6px;
}
.footer__tw {
  margin-right: 6px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 4px;
  margin-left: 4px;
}
.footer__fb-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #81B3D2;
  height: 48px;
  width: 46px;
  margin-right: 6px;
}
.footer__fb {
  margin-right: 6px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  margin-left: 4px;
}
.footer__youtube-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #81B3D2;
  height: 48px;
  width: 46px;
}
.footer__youtube {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-left: 1px;
}
.footer__logo {
  height: 34.09999847px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 45px;
  margin-bottom: 26px;
}
.footer__develop {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* identical to box height, or 186% */
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}
.footer__copyright {
  width: 27px;
  height: 34px;
  margin-left: 15px;
}
.border {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 21px;
  width: 320px;
  height: 1px;
}
/* Стили для страницы каталога */
.catalog__header {
  display: flex;
  width: 100%;
}
.catalog-header__wrapper {
  background-image: url("catalog/img/header/header-back-desktop.jpg.png");
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-header__logo {
  display: flex;
  justify-content: center;
}
.catalog-header-image {
  display: flex;
}
.catalog-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-content-picture {
  display: flex;
  margin-top: -25px;
}
.catalog-content__block-foto-and-video {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.catalog-content__block-foto-and-video_picture-composite {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  margin-top: -26px;
  height: 214px;
}
@media (min-width: 768px) {
  .catalog-content__block-foto-and-video_picture-composite {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    margin-top: -26px;
    height: 518px;
  }
}
.catalog-content__block-foto-and-video_sedona {
  display: flex;
}
.catalog-content__block-foto-and-video_picture {
  display: flex;
  width: 100%;
  position: absolute;
  height: 214px;
}
@media (min-width: 768px) {
  .catalog-content__block-foto-and-video_picture {
    display: none;
    width: 100%;
    position: absolute;
  }
}
.catalog-content__block-foto-and-video_picture--tablet {
  display: none;
}
@media (min-width: 768px) {
  .catalog-content__block-foto-and-video_picture--tablet {
    display: flex;
    height: 518px;
    width: 100%;
    position: absolute;
  }
}
.catalog-content__block-foto-and-video_sedona {
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
}
@media (min-width: 768px) {
  .catalog-content__block-foto-and-video_sedona {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: 67px;
  }
}
.catalog-content__block-foto-and-video_intro-triangle {
  position: absolute;
  display: flex;
  bottom: -1px;
  justify-content: center;
  align-self: center;
}
@media (min-width: 1200px) {
  .catalog-content__block-foto-and-video_intro-triangle {
    position: absolute;
    display: none;
    bottom: -1px;
    justify-content: center;
    align-self: center;
  }
}
@media (min-width: 768px) {
  .catalog-content__block-foto-and-video_intro-triangle--tablet {
    position: absolute;
    top: 461px;
    width: 100%;
    display: none;
  }
}
@media (min-width: 1200px) {
  .catalog-content__block-foto-and-video_intro-triangle--tablet {
    position: absolute;
    top: 461px;
    width: 100%;
    display: none;
  }
}
.catalog-content__block-foto-and-video_intro-triangle--desktop {
  position: absolute;
  top: 461px;
  display: none;
}
@media (min-width: 1200px) {
  .catalog-content__block-foto-and-video_intro-triangle--desktop {
    position: absolute;
    display: flex;
    width: 100%;
    top: 462px;
  }
}
.catalog-content__block-foto-and-video_foto-video-text {
  font-family: 'PT Sans';
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  width: 299px;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  display: flex;
  justify-content: center;
}
.catalog-content__block-foto-and-video_foto-traveling-text {
  width: 299px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
  display: flex;
}
@media (min-width: 768px) {
  .catalog-content__block-foto-and-video_foto-traveling-text {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    mix-blend-mode: normal;
    display: flex;
    width: 458px;
  }
}
.catalog-main__foto-gallery {
  background-image: url("catalog/img/catalog-main__foto-gallery/photo-1-mobile.jpg");
  display: flex;
  flex-direction: column;
  width: 90%;
}
@media (min-width: 768px) {
  .catalog-main__foto-gallery {
    background-image: url(catalog/img/catalog-main__foto-gallery/photo-1-mobile.jpg);
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .catalog-main__foto-gallery {
    background-image: url(catalog/img/catalog-main__foto-gallery/photo-1-mobile.jpg);
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
    position: relative;
  }
}
@media (min-width: 768px) {
  .position-modifier {
    margin-left: 0px;
  }
}
.catalog-main__foto-gallery-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .catalog-main__foto-gallery-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
  }
}
.catalog-main__foto-gallery_3-blocks {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .catalog-main__foto-gallery_3-blocks {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
  }
}
@media (min-width: 1200px) {
  .catalog-main__foto-gallery_3-blocks {
    display: flex;
    width: 100%;
    height: 267px;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .catalog-main__foto-gallery-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .width-tablet-modifier {
    width: 324px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) {
  .width-desktop-modifier {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 267px;
    width: 400px;
  }
}
.catalog-main__foto-gallery_picture {
  display: flex;
  width: 100%;
  height: 280px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
@media (min-width: 1200px) {
  .catalog-main__foto-gallery_picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }
}
@media (min-width: 768px) {
  .width-foto-modifier {
    height: 267px;
    width: 324px;
  }
}
@media (min-width: 1200px) {
  .width-foto-modifier {
    height: 267px;
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.border {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 21px;
  width: 320px;
  height: 1px;
}
@media (min-width: 768px) {
  .border {
    display: none;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 21px;
    width: 320px;
    height: 1px;
  }
}
@media (min-width: 1200px) {
  .catalog-main__foto-gallery_block-autor {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: normal;
    background: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1200px) {
  .foto-gallery__block-text {
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 80px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
    z-index: 2;
  }
}
@media (min-width: 1200px) {
  .foto-gallery__block-autor_block-describe {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    mix-blend-mode: normal;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .foto-gallery__block-describe-text {
    padding-left: 21px;
    padding-bottom: 15px;
  }
}
.foto-gallery__block-autor-landscape {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}
@media (min-width: 1200px) {
  .foto-gallery__block-autor-landscape {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
@media (min-width: 1200px) {
  .catalog-main__foto-gallery_block-autor {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: normal;
    background: rgba(0, 0, 0, 0.3);
  }
}
.foto-gallery__autor {
  width: 175px;
  display: flex;
  align-items: center;
  color: #333333;
  mix-blend-mode: normal;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
}
@media (min-width: 1200px) {
  .foto-gallery__autor {
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
}
.foto-gallery__vote {
  display: flex;
  align-items: center;
}
.foto-gallery__like-icon {
  margin-right: 15px;
}
@media (min-width: 1200px) {
  .foto-gallery__like-icon {
    margin-right: 15px;
    display: none;
  }
}
@media (min-width: 1200px) {
  .foto-gallery__like-icon-desktop {
    display: flex;
    margin-right: 9px;
  }
}
.foto-gallery__number {
  width: 61px;
  height: 24px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}
@media (min-width: 1200px) {
  .foto-gallery__number {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    mix-blend-mode: normal;
    color: #FFFFFF;
    height: 24px;
    width: 53px;
  }
}
.margin-modifier {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .margin-modifier {
    margin-top: 0;
    position: relative;
  }
}
.block-presentation {
  display: flex;
  height: 427px;
  flex-direction: column;
  width: 100%;
}
.block-presentation__advirtising {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 32px;
}
.block-presentation__question {
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
}
.block-presentation__tickets {
  letter-spacing: 0px;
  width: 266px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
}
.block-presentation__video-player {
  background: url(video-desktop.jpg);
  display: flex;
  width: 100%;
  height: 201px;
}
.block-presentation__elements-control {
  display: flex;
  width: 253px;
  align-self: center;
  flex-direction: column;
  position: relative;
  margin-top: -45px;
}
.block-presentation__player-background {
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
}
.block-presentation__player-volume-scale {
  width: 235px;
  display: flex;
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 10px;
}
.block-presentation__player-volume-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 36%;
  left: 20%;
}
.block-presentation__replay-and-subtitles {
  display: flex;
  justify-content: space-between;
  background: #F2F2F2;
  height: 66px;
  width: 280px;
}
.block-presentation__player-replay {
  display: flex;
  margin-left: 25px;
}
.block-presentation__player-subtitles {
  display: flex;
  margin-left: 120px;
  align-self: center;
}
.block-presentation__player-fullscreen {
  display: flex;
  align-self: center;
  margin-right: 20px;
}
/* Стили для страницы формы */
.form__main-contain__picture {
  width: 100%;
  height: 214px;
}
.form-contain__block-picture_decorations {
  position: relative;
}
.form__SEDONA {
  position: absolute;
  top: 30%;
  display: flex;
  left: 15%;
}
.vectors-block {
  display: flex;
  position: absolute;
  bottom: 0;
}
.form-vector {
  bottom: 4px;
}
.form__block-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  font-family: PT Sans;
}
.form__feedback-text {
  width: 306px;
  height: 151px;
  left: 8px;
  top: 473px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
}
.form__content-introduce {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.form__content-introduce_introducing {
  width: 170px;
  height: 26px;
  left: 75px;
  top: 661px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  align-self: center;
}
.form__content-introduce_form {
  width: 100%;
  height: 214px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
}
.form__content-introduce_form-name {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
  align-self: flex-end;
}
.Peter {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 80%;
  height: 58px;
  background: #F2F2F2;
  mix-blend-mode: normal;
  margin-left: 20px;
  justify-content: space-between;
}
.Ivanov {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 80%;
  height: 58px;
  background: #F2F2F2;
  mix-blend-mode: normal;
  margin-left: 20px;
}
.Alexandrovich {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 80%;
  height: 58px;
  background: #F2F2F2;
  mix-blend-mode: normal;
  margin-left: 20px;
}
.form__content-introduce_form-last-name {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
}
.form__content-introduce_form-middle-name {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
}
.form__contact-information {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 20px;
}
.contact-information__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}
.contact-information-block {
  display: flex;
  width: 280px;
  flex-direction: column;
  justify-content: center;
}
.contact-information__pnone {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
  display: flex;
  height: 58px;
  margin-top: 17px;
}
.block-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 58px;
}
.phone-icon-block {
  display: flex;
  width: 58px;
  height: 58px;
  left: 242px;
  top: 1043px;
  background: #E6E6E6;
  mix-blend-mode: normal;
  justify-content: center;
  align-items: center;
}
.phone-icon {
  width: 18px;
  height: 18px;
  background: #E6E6E6;
  mix-blend-mode: normal;
  display: flex;
}
.contact-information-block {
  display: flex;
  width: 280px;
  flex-direction: column;
  justify-content: center;
}
.contact-information-block__pnone {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
  display: flex;
  height: 58px;
  margin-top: 17px;
}
.contact-information-block__block-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 58px;
}
.contact-information-block__phone-icon-block {
  display: flex;
  width: 58px;
  height: 58px;
  left: 242px;
  top: 1043px;
  background: #E6E6E6;
  mix-blend-mode: normal;
  justify-content: center;
  align-items: center;
}
.contact-information-block__phone-icon-block--phone-icon {
  width: 18px;
  height: 18px;
  background: #E6E6E6;
  mix-blend-mode: normal;
  display: flex;
}
.contact-information-block__mail {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
  display: flex;
}
.contact-information-block__block-email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 58px;
}
.contact-information-block__block-emai--mail-area {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 222px;
  height: 58px;
  left: 20px;
  top: 1043px;
  background: #F2F2F2;
  mix-blend-mode: normal;
  border: none;
}
.contact-information-block__email-icon-block {
  display: flex;
  width: 58px;
  height: 58px;
  background: #E6E6E6;
  mix-blend-mode: normal;
  justify-content: center;
  align-items: center;
}
.contact-information-block__email-icon-block--email-icon {
  background: #E6E6E6;
  mix-blend-mode: normal;
  display: flex;
  width: 18px;
  height: 18px;
}
.form__contact-impression {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact-impression_text {
  height: 26px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}
.contact-impression__block-radio {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.impression {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-right: 26px;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 1304px;
}
.impression__answer {
  justify-content: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
}
.form-visited-places {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.visited-places__header {
  width: 268px;
  height: 52px;
  left: 26px;
  top: 1537px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}
.visited-place {
  display: flex;
  align-items: center;
}
.visited-places__checkbox {
  right: 81.52%;
  bottom: 35.25%;
  width: 46px;
  height: 46px;
  mix-blend-mode: normal;
  border: 5px solid #F2F2F2;
  margin-right: 29px;
  background: #F2F2F2;
}
.emotions-describe__header {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}
.emotions-describe__text {
  width: 279px;
  height: 160px;
  left: 19px;
  top: 1992px;
  background: #F2F2F2;
  mix-blend-mode: normal;
}
.form__emotions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__emotions-button {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height, or 124% */
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 280px;
  height: 58px;
  background: #81B3D2;
  mix-blend-mode: normal;
  display: flex;
  justify-content: center;
  margin-top: 51px;
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
