.catalog-header {
  display: flex;
  width: 100%;
}

.catalog-header-wrapper {
  background-image: url("catalog/img/header/header-back-desktop.jpg.png");
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-header__logo {
  display: flex;
  justify-content: center;
  z-index: 2;
}

@media (min-width: 768px) { 
.catalog-header__logo {
  display: none;
}

}
@media (min-width: 768px) { 
  .catalog-modifier {
    margin-top: -24px;
    align-items: inherit;
}
 }




.catalog-header__image {
display: flex;
}


.catalog-header__icon {
 position: absolute;
    right: 20px;
    top: 17px;
}

@media (min-width: 768px) { 
.catalog-header__icon {
display: none;
}

}
