<<<<<<< HEAD
.city-info-discribes-city {
    width: 100%;
=======
.city-info-discribes-city{
    width: 90%;
>>>>>>> 1eadda7df391f3fafa2564a31ee17442874bc9cb
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
    flex-direction: column;
    align-items: center;
}

  .city-info-discribes-city__city-background {
=======
  }

  .city-2__city-background {
>>>>>>> 1eadda7df391f3fafa2564a31ee17442874bc9cb
    width: 100%;
    display: flex;
    justify-content: center;
}

<<<<<<< HEAD
  .city-info-discribes-city__discribes {
=======
  .city-2__discribes {
>>>>>>> 1eadda7df391f3fafa2564a31ee17442874bc9cb
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

<<<<<<< HEAD
  .city-info-discribes-city__advertising {
=======
  .city-2__advertising {
>>>>>>> 1eadda7df391f3fafa2564a31ee17442874bc9cb
    display: flex;
    justify-content: center;
    align-items: center;
  }

<<<<<<< HEAD
  .city-info-discribes-city__advertising_icon-house {
=======
  .city-2__advertising_icon-house {
>>>>>>> 1eadda7df391f3fafa2564a31ee17442874bc9cb
    display: flex;
    align-self: flex-start;
  }

<<<<<<< HEAD
  .city-info-discribes-city__block {
=======
  .city-2__block {
>>>>>>> 1eadda7df391f3fafa2564a31ee17442874bc9cb
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }

<<<<<<< HEAD
  .city-info-discribes-city__house-text {
    display: flex;
  }

  .city-info-discribes-city__text-element {
=======
  .city-2__house-text {
    display: flex;
  }

  .city-2__text-element {
>>>>>>> 1eadda7df391f3fafa2564a31ee17442874bc9cb
    display: flex;
    margin-top: -24px;
  }

<<<<<<< HEAD
   .city-info-discribes-city__icon-gift {
=======
   .city-2__icon-gift {
>>>>>>> 1eadda7df391f3fafa2564a31ee17442874bc9cb
    display: flex;
    align-self: flex-start;
  }

<<<<<<< HEAD
  .city-info-discribes-city__icon-burger {
=======
  .city-2__icon-burger {
>>>>>>> 1eadda7df391f3fafa2564a31ee17442874bc9cb
    display: flex;
    align-self: flex-start;
  }
