.form__contact-impression {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-impression_text {
    height: 26px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    mix-blend-mode: normal;
}

.contact-impression__block-radio {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.impression {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-right: 26px;
    width: 48px;
    height: 48px;
    left: 24px;
    top: 1304px;
}

.impression__answer {
    justify-content: center;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    display: flex;
    align-items: center;
    color: #000000;
    mix-blend-mode: normal;
}