.form__contact-information {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
}

.contact-information__text {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    mix-blend-mode: normal;
}