.form__main-contain_picture {
    width: 100%;
    height: 214px;
}


@media (min-width:768px) {
    .form__main-contain_picture {
   display: none;
}
}


.form__main-contain_picture--tablet {
    display:none;
}

@media (min-width:768px) {
.form__main-contain_picture--tablet {
    display:flex;
    position: absolute;
        height: 282px;
    width: 100%;

}
}


@media (min-width:768px) {
.form-contain__block-picture_decorations {
    position: relative;
    height: 282px;
}
}

.form__sedona {
    position: absolute;
    top: 30%;
    display: flex;
   left: 35%;
}


@media (min-width:768px) {
.form__sedona {
    position: absolute;
    top: 30%;
   display: none;
   left: 35%;
}
}

.form__sedona--tablet {
    display:none;
}



@media (min-width:768px) {
.form__sedona--tablet {
    display:flex;
}
}

.vectors-block {
    display: flex;
    position: absolute;
    bottom: 0;
}




@media (min-width:768px) {
.form-vector {
    width: 100%;
}
}