.form-visited-places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.form-visited-places__wrapper {
    display: flex;
        flex-direction: column;
}


@media (min-width:768px) {
.form-visited-places__wrapper {
    display: flex;
    flex-direction: column;
    width: 648px;
    flex-wrap: wrap;
    align-items: center;
}
    }


   .form-visited-places__block-checkbox {
        display: flex;
    }



    @media (min-width:768px) { 
        .form-visited-places__block-checkbox {
   display: flex;
    width: 484px;
    flex-wrap: wrap;
    justify-content: space-between;
        }
    }


    @media (min-width:768px) { 
    .visited-places__text {
display: flex;
height: 26px;
    width: 140px;

    }
}

.form-visited-places__header {
    width: 268px;
    height: 52px;
    left: 26px;
    top: 1537px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    mix-blend-mode: normal;
}

.form-visited-places__header_visited-place {
  margin-top: 34px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #000000;
    mix-blend-mode: normal;
}


  @media (min-width:768px) { 
.form-visited-places__header_visited-place {
width: 214px;
}
  }


    
  @media (min-width:768px) { 
.visited-places__checkbox {
width: 46px;
    height: 46px;
    mix-blend-mode: normal;
       border: none;
    margin-right: 29px;
    background: #F2F2F2;
}
  }