.form__content-introduce {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.introducing {
  width: 170px;
  height: 26px;
  left: 75px;
  top: 661px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  align-self: center;
}

.form__content-introduce_form {
  width: 100%;
  height: 214px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
}

.form__content-introduce_form-name {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
  align-self: flex-end;
}

.Peter {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 80%;
  height: 58px;
  background: #F2F2F2;
  mix-blend-mode: normal;
  margin-left: 20px;
  justify-content: space-between;
}

.Ivanov {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 80%;
  height: 58px;
  background: #F2F2F2;
  mix-blend-mode: normal;
  margin-left: 20px;
}

.Alexandrovich {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 80%;
  height: 58px;
  background: #F2F2F2;
  mix-blend-mode: normal;
  margin-left: 20px;
}

.form__content-introduce_form-last-name {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
}

.form__content-introduce_form-middle-name {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
}
