.form-visited-places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.visited-places__header {
    width: 268px;
    height: 52px;
    left: 26px;
    top: 1537px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    mix-blend-mode: normal;
}

.visited-place {
    display: flex;
    align-items: center;
}

.visited-places__checkbox {
    right: 81.52%;
    bottom: 35.25%;
    width: 46px;
    height: 46px;
    mix-blend-mode: normal;
    border: 5px solid #F2F2F2;
    margin-right: 29px;
    background: #F2F2F2;
<<<<<<< HEAD
}
=======
}
>>>>>>> 1eadda7df391f3fafa2564a31ee17442874bc9cb
