.header {
    display: flex;
    width: 100%;
  }

  .header__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__logo {
    display: flex;
    justify-content: center;
  }

<<<<<<< HEAD

  @media (min-width:768px) {
    .header__logo {
      display: flex;
      justify-content: center;

  }
  }

  @media (min-width:768px) {
    .header__logo--tablet {
      display: flex;
      justify-content: center;
      height: 84px;
      width: 101.60000610351562px;
      margin-right: 39.4px;
      margin-left: 38px;
  }
  }



  .header__image {
    display: none;
    justify-content: center;
  }


  .header__image-tablet {
    display: none;
    justify-content: center;
  }


  @media (min-width:768px) {
    .header__image-tablet {
      display: flex;
      justify-content: center;
    }
=======
  .header__image {

>>>>>>> 1eadda7df391f3fafa2564a31ee17442874bc9cb
  }

  .header__menu-mobile {
    display: none;
  }

<<<<<<< HEAD

  .header__top-menu {
    display: flex;
  }


  @media (min-width:768px) {
    .header__top-menu {
      display: flex;
      margin: 0;
      padding: 0;
      width: 100%;
      justify-content: center;
      align-items: center;
  }

  }




  @media (min-width:768px) {
    .header__list {
      height: 26px;
      font-family: PT Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 26px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      mix-blend-mode: normal;
      list-style: none;
      text-decoration: none;
  }

  }


  @media (min-width:768px) {
    .main--list {
      margin-left: 34px;
      margin-right: 47px;
  }

  }

  @media (min-width:768px) {
    .foto--list {
      margin-right: 11px;
      height: 26px;
      width: 128px;
  }

  }

  @media (min-width:768px) {
    .callback--list {
      margin-right: 19px;
      height: 26px;
      width: 135px;
  }

  }



  @media (min-width:768px) {
    .academy--list {
      margin-right: 11px;
      height: 26px;
      width: 129px;
  }

  }







=======
  .header__menu-stripe {

  }

  .header__top-menu {

  }

  .header__list {
    
  }
>>>>>>> 1eadda7df391f3fafa2564a31ee17442874bc9cb
