.sedona-city-block {
    mix-blend-mode: normal;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: -1;
    height: 631px;
}


@media (min-width:768px) {
  .sedona-city-block {
    mix-blend-mode: normal;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: -1;
    height: 518px;
}

}

.sedona-city-block__background {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    height: 631px;
}

@media (min-width:768px) {
  .sedona-city-block__background {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    height: 518px;
  }

}



@media (min-width:768px) {
  .sedona-city-block__vectors-block {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

}


@media (min-width:768px) {
  .vector-left {
display: none;
  }

}



@media (min-width:768px) {
  .vector-right {
display: none;
  }

}

@media (min-width:768px) {
  .vector-left-tablet {

  }

}


@media (min-width:768px) {
  .vector-right-tablet {

  }

}



.sedona-city-block__welcome {
  display: flex;
}

.sedona-city-block__gorgeous {
  display: flex;
  height: 17.7195797px;
  width: 106.90551758px;
  left: 106.57922363px;
  top: 402.99871826px;
  border-radius: 0px;
}

.sedona-city-block__text {
    z-index: 2;
}

.sedona-city-block__grand-canyone {
    z-index: 2;
}








