.sedona-city-block__welcome {
  display: flex;
}
.sedona-city-block__gorgeous {
  display: flex;
  height: 17.7195797px;
  width: 106.90551758px;
  left: 106.57922363px;
  top: 402.99871826px;
  border-radius: 0px;
}
.sedona-city-block__text {
  z-index: 2;
}
.sedona-city-block__grand-canyone {
  z-index: 2;
}
.sedona-city-block-discribes-city {
  background: #E7E5E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sedona-city-block-discribes-city {
  background: #E7E5E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}