.sedona-city-block {
  mix-blend-mode: normal;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: -1;
  height: 389px;
}

@media (min-width: 768px) {
  .sedona-city-block {
      mix-blend-mode: normal;
      display: flex;
      width: 100%;
      flex-direction: column;
      position: relative;
      z-index: -1;
      height: 518px;
  }
}

.sedona-city-block__background {
  display: flex;
  position: absolute;
  justify-content: center;
  height: 389px;
  width: 100%;
  border-radius: 0px;
}

@media (min-width: 768px) {
  .sedona-city-block__background {
      display: none;
      position: absolute;
      width: 100%;
      justify-content: center;
      height: 631px;
  }
}

.sedona-city-block__background-tablet {
  display: none;
  height: 518px;
  position: absolute;
  width: 100%;
  justify-content: center;
}

@media (min-width: 768px) {
  .sedona-city-block__background-tablet {
      display: flex;
      height: 518px;
      position: absolute;
      width: 100%;
      justify-content: center;
  }
}

.sedona-city-block__advertisement {
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .sedona-city-block__advertisement {
      display: flex;
      flex-direction: column;
      z-index: 1;
  }
}

.sedona-city-block__welcome {
  display: flex;
  margin-top: 90px;
}

@media (min-width: 768px) {
  .sedona-city-block__welcome {
      display: none;
      margin-top: 90px;
  }
}

.sedona-city-block__welcome-tablet {
  display: none;
}

@media (min-width: 768px) {
  .sedona-city-block__welcome-tablet {
      margin-top: 77px;
      display: flex;
  }
}

@media (min-width: 1200px) {
  .sedona-city-block__welcome_tablet {
      display: none;
  }
}

.sedona-city-block__welcome_desktop {
  display: none;
}

@media (min-width: 1200px) {
  .sedona-city-block__welcome_desktop {
      display: flex;
      margin-top: 78px;
  }
}

.sedona-city-block__gorgeous {
  display: flex;
  height: 17.7195797px;
  width: 106.90551758px;
  margin-top: 6.48px;
}

.sedona-city-block__gorgeous::after,
.sedona-city-block__gorgeous::before {
  display: flex;
  content: "";
  height: 2px;
  width: 28.994335174560547px;
  background: #766458;
}

@media (min-width: 768px) {
  .sedona-city-block__gorgeous {
      display: none;
      height: 17.7195797px;
      width: 106.90551758px;
      left: 106.57922363px;
      top: 402.99871826px;
      border-radius: 0px;
  }
}

.sedona-city-block__gorgeous-tablet {
  display: none;
}

@media (min-width: 768px) {
  .sedona-city-block__gorgeous-tablet {
      display: flex;
      margin-top: 10.6px;
  }
}

@media (min-width: 1200px) {}

.sedona-city-block__text {
  z-index: 2;
  margin-top: 31.38px;
}

@media (min-width: 768px) {
  .sedona-city-block__text {
      z-index: 2;
      display: none;
  }
}

.sedona-city-block__text-tablet {
  z-index: 2;
  display: none;
  margin-top: 51.32px;
}

@media (min-width: 768px) {
  .sedona-city-block__text-tablet {
      z-index: 2;
      display: flex;
      margin-top: 51.32px;
  }
}

.sedona-city-block__grand-canyone {
  z-index: 2;
  margin-top: 36.35px;
}

@media (min-width: 768px) {
  .sedona-city-block__grand-canyone {
      z-index: 2;
      display: none;
  }
}

.sedona-city-block__grand-canyone-tablet {
  display: none;
}

@media (min-width: 768px) {
  .sedona-city-block__grand-canyone-tablet {
      display: flex;
      margin-top: 59.7px;
  }
}

.sedona-city-block__vector-block-mobile {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

@media (min-width: 768px) {
  .sedona-city-block__vector-block-mobile {
      display: none;
      bottom: -1px;
  }
}

.sedona-city-block__vectors-block-tablet {
  display: none;
}

@media (min-width: 768px) {
  .sedona-city-block__vectors-block-tablet {
      display: flex;
      bottom: -1px;
      position: absolute;
      width: 100%;
      left: 0;
  }
}

@media (min-width: 1200px) {
  .sedona-city-block__vectors-block-tablet {
      display: none;
      bottom: 0;
      position: absolute;
  }
}

.sedona-city-block__vectors-block-desktop {
  display: none;
}

@media (min-width: 768px) {
  .sedona-city-block__vectors-block-desktop {
      display: none;
  }
}

@media (min-width: 1200px) {
  .sedona-city-block__vectors-block-desktop {
      display: flex;
      position: absolute;
      bottom: 0;
  }
}

.sedona-city-block__img {
  height: 27.51714325px;
  width: 115.13195801px;
  z-index: 2;
  border-radius: 0px;
  align-self: center;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  justify-content: center;
  align-content: center;
  /* or 144% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #81B3D3;
}

.sedona-city-block__description-bold-header {
  width: 285px;
  height: 162px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.sedona-city-block-discribes-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  .sedona-city-block-discribes-city-all {
      margin-bottom: 52.5px;
  }
}

.sedona-city-block-discribes-city__description-header {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}

@media (min-width: 768px) {
  .sedona-city-block-discribes-city__description-header {
      width: 520px;
      height: 110px;
      font-family: PT Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height: 26px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      mix-blend-mode: normal;
  }
}

.sedona-city-block-discribes-city__description-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
}

@media (min-width: 768px) {
  .sedona-city-block-discribes-city__description-text {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #333333;
      mix-blend-mode: normal;
      margin-bottom: 52.5px;
  }
}

@media (min-width: 1200px) {
  .sedona-city-block-discribes-city__description-text {
      margin-bottom: 52.5px;
  }
}

@media (min-width: 1200px) {
  .sedona-city-block-discribes-city__description-text {
      margin-bottom: 41px;
  }
}

.sedona-city-block__description-text {
  width: 285px;
  height: 162px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: thin;
  font-size: 14px;
  line-height: 26px;
  /* or 186% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
}

.sedona-city-block-discribes-city--vectors-modifier {
  display: flex;
  position: absolute;
  bottom: -37px;
  z-index: 3;
}

@media (min-width: 768px) {
  .sedona-city-block-discribes-city--vectors-modifier {
      display: none;
      position: absolute;
      bottom: -37px;
      z-index: 3;
  }
}
