.catalog__header {
  display: flex;
  width: 100%;
}

.catalog-header__wrapper {
  background-image: url("catalog/img/header/header-back-desktop.jpg.png");
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-header__logo {
  display: flex;
  justify-content: center;
}

.catalog-header-image {
display: flex;
}
