.city-info-discribes-city {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}

  .city-2__city-background {
    width: 100%;
    display: flex;
    justify-content: center;
}

  .city-2__discribes {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .city-2__advertising {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .city-2__advertising_icon-house {
    display: flex;
    align-self: flex-start;
  }

  .city-2__block {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }

  .city-2__house-text {
    display: flex;
  }

  .city-2__text-element {
    display: flex;
    margin-top: -24px;
  }

   .city-2__icon-gift {
    display: flex;
    align-self: flex-start;
  }

  .city-2__icon-burger {
    display: flex;
    align-self: flex-start;
  }
