.city-info-discribes-city {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}

.city-info-discribes-city__city-background {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width:768px) {
  .city-info-discribes-city__city-background {
      display: none;
      justify-content: center;
      height: 256px;
      width: 512px;
      border-radius: 0px;
  }
}

@media (min-width:1200px) {
  .city-info-discribes-city__city-background {
      display: none;
      justify-content: center;
      height: 256px;
      width: 100%;
      border-radius: 0px;
  }
}

.city-info-discribes-city__city-background-tablet {
  display: none;
}

@media (min-width:768px) {
    .city-info-discribes-city__city-background-tablet {
      display: flex;
      height: 256px;
      width: 100%;  
}
}


@media (min-width:1200px) {  
    .city-info-discribes-city__city-background-tablet {
    display: none;
    height: 256px;
    width: 512px;
  }
}


 .city-info-discribes-city__city-background-desktop {
      width: 100%;
      display: none;
  }


@media (min-width:768px) {
  .city-info-discribes-city__city-background-desktop {
      width: 100%;
      display: none;
  }
}

@media (min-width:1200px) {
  .city-info-discribes-city__city-background-desktop {
      width: 100%;
      display: flex;
  }
}

.city-info-discribes-city__discribes {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

@media (min-width:768px) {
  .city-info-discribes-city__discribes {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      margin-bottom: 59px;
  }
}

.city-info-discribes-city__advertising {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (min-width:768px) {
  .city-info-discribes-city__advertising {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 36px;
      margin-right: 31px;
  }
}

.city-info-discribes-city__icon_mobile {
  display: flex;
}

@media (min-width:768px) {
  .city-info-discribes-city__icon_mobile {
      display: none;
  }
}

.city-info-discribes-city__icon_tablet {
  display: none;
}

@media (min-width:768px) {
  .city-info-discribes-city__icon_tablet {
      display: flex;
  }
}

@media (min-width:1200px) {
  .order-desktop {
      order: 2;
  }
}

.city-info-discribes-city__block {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

@media (min-width:768px) {
  .city-info-discribes-city__block {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 26px;
  }
}

.city-info-discribes-city__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: self-start;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  margin-block-start: 0;
  margin-block-end: 0;
}

.city-info-discribes-city__element {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
}

@media (min-width:768px) {
  .city-info-discribes-city__element {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #333333;
      mix-blend-mode: normal;
      width: 185px;
      text-align: center;
  }
}

@media (min-width:1200px) {
  .city-info-discribes-city__element {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #333333;
      mix-blend-mode: normal;
      text-align: center;
      width: 313px;
  }
}

.width-gift-text {
  width: 244px;
}

@media (min-width:768px) {
  .width-gift-text {
      width: 210px;
  }
}

@media (min-width:1200px) {
  .width-gift-text {
      width: 244px;
  }
}

.city-info-discribes-city__advertising_icon {
  display: flex;
  align-self: flex-start;
}

@media (min-width:768px) {
  .city-info-discribes-city__advertising_icon {
      display: flex;
      align-self: center;
  }
}

@media (min-width:768px) {
  .icon {
      display: none;
  }
}

.icon-tablet {
  display: none;
}

@media (min-width:768px) {
  .icon-tablet {
      display: flex;
  }
}

.icon-burger-tablet {
  display: none;
}

@media (min-width:768px) {
  .house-modifier {
      margin-left: 36px;
  }
}

@media (min-width:1200px) {
  .house-modifier {
      margin-left: 58px;
  }
}

@media (min-width:768px) {
  .gift-modifier {
      order: 3;
      margin-right: 31px;
  }
}

@media (min-width:1200px) {
  .gift-modifier {
      order: 3;
      margin-right: 78px;
  }
}