@font-face {
  font-family: 'ptsans';
  font-family: 'ptsansbold';
  src: url('fonts/ptsans') format('woff');
  src: url('fonts/ptsans') format('woff2');
  src: url('fonts/ptsansbold') format('woff');
  src: url('fonts/ptsansbold') format('woff2');
}
body {
  width: 100%;
  box-sizing: border-box;
  display: contents;
  max-width: 320px;
}
.header {
  width: 100%;
  height: 56px;
  background: #FFFFFF;
}
.header-wrapper {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: center;
  z-index: 2;
}
.header__image {
  z-index: 2;
}
.header__menu-mobile {
  display: none;
}
