body {
  max-width: 320px;
}
.header {
  width: 320px;
  height: 56px;
  background: #FFFFFF;
}
.header-wrapper {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: center;
}
.header__menu-mobile {
  display: none;
}
.main {
  display: flex;
  width: 320px;
  position: relative;
  justify-content: center;
  flex-direction: column;
}
.sedona-city-block {
  height: 389px;
  mix-blend-mode: normal;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.sedona-city-block__background {
  display: flex;
  position: absolute;
  width: 100%;
  height: 389px;
  top: 0;
  left: 0;
  max-width: 320px;
  justify-content: center;
}
.sedona-city-block__img {
  height: 27.51714325px;
  width: 115.13195801px;
  z-index: 2;
  border-radius: 0px;
  align-self: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  justify-content: center;
  align-content: center;
  /* or 144% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #81B3D3;
}
.sedona-city-block__description-bold-header {
  width: 285px;
  height: 162px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.sedona-text {
  z-index: 2;
}
.grand-canyone {
  z-index: 2;
}
.sedona-city-block__description-text {
  width: 285px;
  height: 162px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: thin;
  font-size: 14px;
  line-height: 26px;
  /* or 186% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
}
.sedona-city-block__advertisement {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.main__city-info {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #81B3D2;
}
.main__text {
  position: absolute;
  left: 31.89%;
  right: 32.14%;
  top: 10.22%;
  bottom: 89.02%;
}
.main__city-background {
  width: 100%;
  display: flex;
  justify-content: center;
}
.city-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}
.city-2__discribes {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.city-2__advertising {
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-2__house-text {
  display: flex;
}
.city-2__text-element {
  display: flex;
  margin-top: -24px;
}
.city-2__block {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.icon-house {
  display: flex;
  align-self: flex-start;
}
.icon-gift {
  display: flex;
  align-self: flex-start;
}
.icon-burger {
  display: flex;
  align-self: flex-start;
}
.block-info__block-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 289px;
  height: 117px;
}
.block-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81B3D2;
  width: 100%;
  max-width: 320px;
}
.block-info__2 {
  height: 117px;
  font-family: PT Sans;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  justify-content: center;
  width: 100%;
}
.block-info__text {
  height: 117px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  display: flex;
  height: 191px;
  background-color: #81B3D2;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.block-info__block-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 117px;
  width: 100%;
  margin-top: 39px;
  margin-bottom: 39px;
  margin-left: 15px;
  margin-right: 16px;
}
.block-info__go {
  width: 289px;
  height: 117px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */
